body {
  background-image: url("https://www.hp.com/us-en/shop/app/assets/images/uploads/prod/5%20Best%20Coding%20Programs%20for%20Aspiring%20Programmers1650304687858345.jpg");
  background-repeat: no-repeat ;
  background-size: 1920px 1080px;
}